.editcontainer-wrapper {
    display: flex !important;
    justify-content: center !important;
    align-items: center;  /* Add this */
    height: 100vh;  /* Add this */
  
  }
    .editcontainer{
        border: 2px solid black;
        width: 30%;
        margin: 15px;
        padding: 20px;
        min-width: 330px;
      
        
    }

.navcolor{
    /* background-color: rgb(44, 74, 49); */
/* background-color: rgb(21, 135, 21); */
background-color: rgb(1, 12, 1);
margin-bottom: 24px;

}
.navlogo{
    width: 42px;
    border-radius: 40px;
 margin-right: 30px;
}
.head:hover{
   
 background-color: black;
}
.se-btn{
width: 110px;
}
.auth-child{

    border-style: outset;


   
}

.full-bg {
    background-image: url('./assets/default-pasta.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh; /* 100% viewport height */
 /* Replace with desired color */
 background-color: #c4c1c0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.signup-img{
    border-radius: 10px;
}


.bg{
    background-color: rgb(18, 14, 14);
}
.cover-img{
    /* border-radius: 10px; */

}
.jj{
    padding-left: 80px;
margin-top:-41px;
}
.ll{
    padding-left: 39px;
    margin-bottom: 260px;
}
.center{
margin-top: -12px !important;
    /* background-color: rgb(229, 221, 221); */
    width: 100%;  
     height: 540px; 

      background-image: url('https://i.pinimg.com/736x/3f/8f/cc/3f8fcc0a2320e6901a18bdd66ff81a42.jpg');

background-size: cover;


}
.pio  
 {
    
  
    box-shadow: 5px 6px 4px #aaaaaa;
 
  }

.footer{
    /* background-color: rgb(180, 182, 177); */
    background-color: rgb(94, 113, 94);
    
}

.bill-table{
   
    border: 2px dotted rgb(201, 191, 203);
    
   height: 430px;
margin-top: 4%;


   
}

.thanksorder{
   color: rgb(200, 147, 55);
text-align: center;
font-family: 'Times New Roman', Times, serif;
font-style: italic;


}

.confirmorder_img{

    margin-top: 7%;

}
.secard{
    width: 200px;
}

.search-img{
   height: 260px;
   padding: 12px;
}
.confirm-order-container{

    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.spin{
    /* background-color: green; */
    height: 100px;
    width: 100px;
}
.det-img{
    border-radius: 30px !important;
 
}